@{
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}
@* @model Book *@
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions {
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
<style>
    .btn1 {
        height: 30px;
        width: 30px;
        padding: 0;
        margin: 0;
    }

    .container1 {
        display: flex;
        justify-content: space-evenly;
    }

    .card1 {
        background-color: white;
        border-radius: 10px;
        box-shadow: 6px 4px 8px 4px rgb(0 0 0 / 20%);
        padding: 20px;
        width: 40%;
        margin: 1rem;
    }

        .card1 h3 {
            margin-top: 0;
            font-size: 18px;
            display: flex;
            align-items: center;
            gap: 10px;
        }

            .card1 h3 img {
                width: 24px;
                height: 24px;
            }

        .card1 ul {
            list-style-type: none;
            padding: 0;
        }

            .card1 ul li {
                margin-bottom: 10px;
            }

                .card1 ul li a {
                    text-decoration: none;
                    color: #333;
                    font-size: 14px;
                }

                    .card1 ul li a:hover {
                        color: #007bff;
                    }
</style>
@* <button type="button" onclick="document.getElementById('formModal').reset();" class="btn btn-success" data-toggle="modal" data-target="#exampleModalPost">
    Tạo mới
</button> *@
<div class="row">
    <div class="col-12">
        <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                    <h6 class="text-white text-capitalize ps-3">Thông báo</h6>
                </div>
            </div>
            <div class="card-body px-0 pb-2">
                <div class="table-responsive p-0">
                    <ul>
                        @foreach (Notification item in Model)
                        {
                            <li><a style="font-size:17px" href="/Information/NotifiDetail/@item.Id">@item.Name</a><span style="margin-left: 10px;font-size:14px">@item.ModifyDate.AddHours(7).ToString("HH:mm dd/MM/yyyy")</span></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
</script>