@{
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}
@model Notification
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions {
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
<style>
    .btn1 {
        height: 30px;
        width: 30px;
        padding: 0;
        margin: 0;
    }

    .title{
        margin-left:2rem;
    }
</style>
@* <button type="button" onclick="document.getElementById('formModal').reset();" class="btn btn-success" data-toggle="modal" data-target="#exampleModalPost">
    Tạo mới
</button> *@
<div class="row">
    <div class="col-12">
        <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                    <h6 class="text-white text-capitalize ps-3"></h6>
                </div>
            </div>
            <div class="card-body px-0 pb-2">
                <div class="table-responsive p-0">
                    <h3 class="title mb-0">@Model.Name</h3>
                    <small class="title">@Model.ModifyDate.AddHours(7).ToString("HH:mm dd/MM/yyyy")</small>
                    <div class="title mt-1">
                        <p>
                            @Html.Raw(Model.Content)
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

