@{
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}
@model BookModel
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions {
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
@* <button type="button" onclick="document.getElementById('formModal').reset();" class="btn btn-success" data-toggle="modal" data-target="#exampleModalPost">
    Tạo mới
</button> *@
<link href="~/css/MultiSelect.css" rel="stylesheet" type="text/css"  asp-append-version="true">
<style>
    .form-control{
        margin-left: 0px !important;
    }

    button {
        margin-left: 5px;
    }


   #loading {
        position: absolute;
        top: 57%;
        right: 50%;
    }
</style>
<div class="row">
    <form method="post" asp-action="CreateBook">
    <div class="col-12">
        <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                    <h6 class="text-white text-capitalize ps-3">Thêm mới sách</h6>
                </div>
            </div>
            <div class="card-body px-0 pb-2">
                <div class="note">
                    <ul>
                            <li>- Hướng dẫn vui lòng xem tại kiến thức cơ bản</li>
                    </ul>
                </div>
                <div class="table-responsive p-0 m-4 mt-0">
                     <div style="display:block" class="form-group input-group input-group-outline mt-4">
                         <label>Loại thanh toán <span style="color:red">*</span>:</label>
                         <select style="width:100%" asp-for="BookTypePrice" onchange="ChangePriceType(this)" class="form-control">
                                <option value="0">Thanh toán theo chương</option>
                                <option value="1">Thanh toán theo đầu sách</option>
                         </select>
                    </div>
                    <div style="display:block" class="form-group input-group input-group-outline mt-4">
                        <label for="Name">Tên sách <span style="color:red">*</span>:</label>
                        <input style="width:100%" type="text" asp-for="Name" class="form-control">
                    </div>
                    <div style="display:block" class="input-group input-group-outline mt-4">
                            <label for="Summary">Giới thiệu <span style="color:red">*</span>:</label>
                            <textarea style="width:100%" asp-for="Summary" type="text" class="form-control" rows="8"></textarea>
                    </div>
                    <div style="display:block" class="form-group input-group input-group-outline mt-4">
                        <label>Danh mục <span style="color:red">*</span>:</label>
                        <select style="width:100%" class="form-control" asp-for="CategoryIds" multiple data-multi-select>
                            @foreach (Category cate in ViewBag.Categories)
                            {
                                <option value="@cate.Id">@cate.Name</option>
                            }
                        </select>
                    </div>
                    <div style="display:block" class="form-group input-group input-group-outline mt-4">
                        <label>Danh mục thêm:</label>
                        <input style="width:100%" type="text" class="form-control" asp-for="SubCategory" />
                    </div>
                    <div class="d-flex ml-0">
                         <button type="button" onclick="GeneratePoster()" class="btn btn-success mt-4">Tạo bìa truyện bằng AI</button>
                    </div>
                    <div id="loading" class="dot-elastic"></div>
                    <div style="display:block;position:relative" class="input-group input-group-outline mt-4">
                        <input type="number" asp-for="Id" id="post-id" hidden />
                        <label for="Name">Cập nhật ảnh bìa:</label>
                        <input type="file" style="width:100%" onchange="changeImageFile(this)" accept="image/*" class="form-control">
                        <img style="margin-top:2rem;height:16rem!important;width:16rem!important; border-radius:1rem!important" id="img-post-id" src="https://i.imgur.com/KHD58yX.png" class="avatar avatar-sm me-3 border-radius-lg">
                        <input type="text" id="image-post" asp-for="Poster" hidden />
                    </div>
                    <div style="display:block" class="form-group input-group input-group-outline mt-4">
                            <label for="Name">Thu phí:</label>
                            <input style="width:100%" value="0" type="number" disabled asp-for="Price" class="form-control">          
                    </div>
                    <button type="submit" class="btn btn-success mt-4">Lưu thông tin</button>

                </div>
            </div>
        </div>
    </div>
    </form>
</div>
<script src="~/js/MultiSelect.js" asp-append-version="true"></script>
<script type="text/javascript">
    // document.getElementById('CreatBookId').classList.add('active');
    document.getElementById('loading').classList.add('d-none');

    function ChangePriceType(el){
       var type = $(el).val();
       if(type == 1) $('#Price').removeAttr("disabled");
       else if(type == 0){
           $('#Price').attr('disabled', 'disabled');
           $('#Price').val('0');
       }
    }

    function changeImageFile(input) {
        if (input.files && input.files[0]) {

            var fileSize = input.files[0].size / 1024 / 1024;

            if (fileSize > 2) {
                notyf.error("Kích thước ảnh quá lớn! Vui lòng chọn ảnh nhỏ hơn 2MB");
                //$('#image-post').val('https://i.imgur.com/KHD58yX.png');
                return;
            }


            var reader = new FileReader();
            reader.onload = function (e) {
                $(input).next('img').removeClass('d-none');
                $(input).next('img').attr('src', e.target.result);
                $('#image-post').val(e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    function GeneratePoster() {
        $('#loading').removeClass('d-none');
        //var summary;
        var input = $('#Name').val();
        var summary = $('#Summary').val();
        var formData = new FormData();
        formData.append('input', input);
        formData.append('summary', summary);
        $.ajax(
            {
                url: `/Admin/GeneratePoster`,
                type: "POST",
                headers:
                {
                    "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                },
                data: formData,
                //dataType: "json",
                async: true,
                processData: false,
                contentType: false,
                success: function (data) {
                    $('#loading').addClass('d-none');
                    console.log(data);
                    if (data.isSussess == false) {
                        notyf.error(data.message);
                        return;
                    }
                    $('#img-post-id').attr('src', data.data);
                    $('#image-post').val(data.data);
                }
            }
        );
    }

</script>