@{
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
    // ViewData["Title"] = "Trang chủ";
    //CultureInfo cul = CultureInfo.GetCultureInfo("vi-VN");
}
@model ReportModel
<div class="row">
    <div class="col-12">
        <div class="card my-4">
            <div class="container-fluid py-4">
                <div class="row">
                    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                        <div class="card">
                            <div class="card-header p-3 pt-2">
                                <div class="icon icon-lg icon-shape bg-gradient-dark shadow-dark text-center border-radius-xl mt-n4 position-absolute">
                                    <i class="material-icons opacity-10">weekend</i>
                                </div>
                                <div class="text-end pt-1">
                                    <p class="text-sm mb-0 text-capitalize">Thể loại</p>
                                    <h4 class="mb-0">@Model.TotalCategory</h4>
                                </div>
                            </div>
                            <hr class="dark horizontal my-0">
                            <div class="d-none card-footer p-3">
                                <p class="mb-0"><span class="text-success text-sm font-weight-bolder">+55% </span>than last week</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                        <div class="card">
                            <div class="card-header p-3 pt-2">
                                <div class="icon icon-lg icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl mt-n4 position-absolute">
                                    <i class="material-icons opacity-10">weekend</i>
                                </div>
                                <div class="text-end pt-1">
                                    <p class="text-sm mb-0 text-capitalize">Người dùng</p>
                                    <h4 class="mb-0">@Model.TotalAccount</h4>
                                </div>
                            </div>
                            <hr class="dark horizontal my-0">
                            <div class="d-none card-footer p-3">
                                <p class="mb-0"><span class="text-success text-sm font-weight-bolder">+3% </span>than last month</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                        <div class="card">
                            <div class="card-header p-3 pt-2">
                                <div class="icon icon-lg icon-shape bg-gradient-success shadow-success text-center border-radius-xl mt-n4 position-absolute">
                                    <i class="material-icons opacity-10">weekend</i>
                                </div>
                                <div class="text-end pt-1">
                                    <p class="text-sm mb-0 text-capitalize">Số lượng sách</p>
                                    <h4 class="mb-0">@Model.TotalBook</h4>
                                </div>
                            </div>
                            <hr class="dark horizontal my-0">
                            <div class="d-none card-footer p-3">
                                <p class="mb-0"><span class="text-danger text-sm font-weight-bolder">-2%</span> than yesterday</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6">
                        <div class="card">
                            <div class="card-header p-3 pt-2">
                                <div class="icon icon-lg icon-shape bg-gradient-info shadow-info text-center border-radius-xl mt-n4 position-absolute">
                                    <i class="material-icons opacity-10">weekend</i>
                                </div>
                                <div class="text-end pt-1">
                                    <p class="text-sm mb-0 text-capitalize">Doanh thu (vnđ)</p>
                                    <h4 class="mb-0">@Model.RevenueFormat</h4>
                                </div>
                            </div>
                            <hr class="dark horizontal my-0">
                            <div class="d-none card-footer p-3">
                                <p class="mb-0"><span class="text-success text-sm font-weight-bolder">+5% </span>than yesterday</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center mt-4">
                    <a href="/Information/Statistics">Xem thống kê chi tiết</a>
                </div>           
            </div>
        </div>
    </div>
</div>
<script>
    //document.getElementById('DashboardId').classList.add('active');
</script>